In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("final1.csv")

In [50]:
df.head()

,Unnamed: 0,name,address,Unnamed: 0.1,Unnamed: 0.1.1,rate,votes,cost_for_two,latitude,longitude,polarity_score,score,cluster
0,0,#FeelTheROLL,"Opposite Mantri Commercio, Outer Ring Road, De...",22462.500000,26916.000000,3.4,7.0,200.0,12.932102,77.685181,0.167813,3.993937,1.000000
1,1,#L-81 Cafe,"Sector 6, HSR Layout, HSR",19717.333333,23666.555556,3.9,48.0,400.0,12.916542,77.651955,0.283506,53.072359,1.222222
2,2,#refuel,"7, Ground Floor, RR Commercial Complex, Akshay...",1164.000000,1348.000000,3.7,37.0,400.0,12.976747,77.575279,0.240556,32.932056,2.666667
3,3,1000 B.C,"16, 17th A Main, Koramangala 5th Block, Bangalore",21321.000000,25523.166667,3.2,49.0,300.0,12.934656,77.623220,0.118605,18.597333,1.500000
4,4,100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,"688, Thanish Corner, 7th Main, 10th Cross, 2nd...",15574.000000,18621.666667,3.7,41.0,450.0,12.919468,77.615494,0.149773,22.720553,2.666667

In [56]:
coord = df.drop(["Unnamed: 0","name","address","Unnamed: 0.1","Unnamed: 0.1.1","rate","votes","cost_for_two","polarity_score","score","cluster"],axis=1)

In [52]:
type(coord)

pandas.core.frame.DataFrame

In [53]:
coord

        latitude  longitude
0      12.932102  77.685181
1      12.916542  77.651955
2      12.976747  77.575279
3      12.934656  77.623220
4      12.919468  77.615494
...          ...        ...
10013  12.962545  77.642771
10014  12.958029  77.744308
10015  12.917018  77.673182
10016  12.969846  77.751038
10017  12.953823  77.641134

[10018 rows x 2 columns]

ValueError: Length of values (2) does not match length of index (10018)

In [59]:
def ls(x):
    return [x[1],x[0]]

In [60]:
df["coordinates"] = coord.apply(lambda x: ls(x),axis=1)

In [63]:
df.columns

Index(['Unnamed: 0', 'name', 'address', 'Unnamed: 0.1', 'Unnamed: 0.1.1',
       'rate', 'votes', 'cost_for_two', 'latitude', 'longitude',
       'polarity_score', 'score', 'cluster', 'coordinates'],
      dtype='object')

In [3]:
df.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'],axis=1,inplace=True)

In [68]:
df.head(6)

,name,address,rate,votes,cost_for_two,latitude,longitude,polarity_score,score,cluster,coordinates
0,#FeelTheROLL,"Opposite Mantri Commercio, Outer Ring Road, De...",3.4,7.0,200.0,12.932102,77.685181,0.167813,3.993937,1.000000,"[77.6851806640625, 12.93210220336914]"
1,#L-81 Cafe,"Sector 6, HSR Layout, HSR",3.9,48.0,400.0,12.916542,77.651955,0.283506,53.072359,1.222222,"[77.6519546508789, 12.916542053222656]"
2,#refuel,"7, Ground Floor, RR Commercial Complex, Akshay...",3.7,37.0,400.0,12.976747,77.575279,0.240556,32.932056,2.666667,"[77.57527923583984, 12.976746559143066]"
3,1000 B.C,"16, 17th A Main, Koramangala 5th Block, Bangalore",3.2,49.0,300.0,12.934656,77.623220,0.118605,18.597333,1.500000,"[77.6232201, 12.9346565]"
4,100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,"688, Thanish Corner, 7th Main, 10th Cross, 2nd...",3.7,41.0,450.0,12.919468,77.615494,0.149773,22.720553,2.666667,"[77.61549377441406, 12.91946792602539]"
5,11 to 11 Express Biriyanis,"Near Velankani Bus Stop, Electroniccity Phase ...",3.5,22.0,300.0,12.850532,77.661626,-0.113607,-8.747716,4.500000,"[77.6616259228182, 12.8505322022591]"

In [67]:
df.name.unique()

array(['#FeelTheROLL', '#L-81 Cafe', '#refuel', ..., 'iSpice Resto Cafe',
       'nu.tree', 're:cess - Hilton Bangalore Embassy GolfLinks'],
      dtype=object)

In [71]:
df.drop(['longitude','latitude'],axis=1,inplace=True)

In [73]:
df.head()

,name,address,rate,votes,cost_for_two,polarity_score,score,coordinates
0,#FeelTheROLL,"Opposite Mantri Commercio, Outer Ring Road, De...",3.4,7.0,200.0,0.167813,3.993937,"[77.6851806640625, 12.93210220336914]"
1,#L-81 Cafe,"Sector 6, HSR Layout, HSR",3.9,48.0,400.0,0.283506,53.072359,"[77.6519546508789, 12.916542053222656]"
2,#refuel,"7, Ground Floor, RR Commercial Complex, Akshay...",3.7,37.0,400.0,0.240556,32.932056,"[77.57527923583984, 12.976746559143066]"
3,1000 B.C,"16, 17th A Main, Koramangala 5th Block, Bangalore",3.2,49.0,300.0,0.118605,18.597333,"[77.6232201, 12.9346565]"
4,100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,"688, Thanish Corner, 7th Main, 10th Cross, 2nd...",3.7,41.0,450.0,0.149773,22.720553,"[77.61549377441406, 12.91946792602539]"

In [75]:
df.to_csv("coordinates_data.csv",index=False)

In [5]:
df.drop(['cluster'],axis=1,inplace=True)

In [10]:
df

,name,address,rate,votes,cost_for_two,latitude,longitude,polarity_score,score
0,#FeelTheROLL,"Opposite Mantri Commercio, Outer Ring Road, De...",3.400000,7.000000,200.000000,12.932102,77.685181,0.167813,3.993937
1,#L-81 Cafe,"Sector 6, HSR Layout, HSR",3.900000,48.000000,400.000000,12.916542,77.651955,0.283506,53.072359
2,#refuel,"7, Ground Floor, RR Commercial Complex, Akshay...",3.700000,37.000000,400.000000,12.976747,77.575279,0.240556,32.932056
3,1000 B.C,"16, 17th A Main, Koramangala 5th Block, Bangalore",3.200000,49.000000,300.000000,12.934656,77.623220,0.118605,18.597333
4,100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,"688, Thanish Corner, 7th Main, 10th Cross, 2nd...",3.700000,41.000000,450.000000,12.919468,77.615494,0.149773,22.720553
...,...,...,...,...,...,...,...,...,...
10013,iSpice Resto Cafe,"115,18th Main Road, Indiranagar, Bangalore",3.700000,30.142857,542.857143,12.962545,77.642771,0.127727,14.245240
10014,nu.tree,"12th Floor, Gamma Building, Sigma Soft Tech Pa...",4.200000,52.000000,400.000000,12.958029,77.744308,0.331015,72.293575
10015,nu.tree,"36 Aarush, Sri Balaji Layout, Ambulipura, Sarj...",4.366667,286.000000,400.000000,12.917018,77.673182,0.375233,468.334025
10016,nu.tree,"Ground Floor-Lobby Area, Brigade IRV Centre, N...",4.300000,177.666667,400.000000,12.969846,77.751038,0.393399,300.323745
10017,re:cess - Hilton Bangalore Embassy GolfLinks,"Hilton Bangalore Embassy GolfLinks, Embassy Go...",4.100000,146.000000,1200.000000,12.953823,77.641134,0.171638,102.742653

In [8]:
df.to_csv("finalized.csv",index=False)

In [9]:
df.isna().sum()

name                0
address             0
rate                0
votes               0
cost_for_two        0
latitude          411
longitude         411
polarity_score      0
score               0
dtype: int64

In [11]:
df1 = pd.read_csv("flask123.csv")

In [12]:
df1

,Unnamed: 0,Unnamed: 0.1,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost_for_two,restaurant_type,latitude,longitude,cluster
0,0.0,0.0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775.0,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,Buffet,12.926226,77.564738,4
1,1.0,1.0,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787.0,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,Buffet,12.914659,77.559005,4
2,2.0,2.0,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918.0,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,Buffet,12.922256,77.557671,4
3,3.0,3.0,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88.0,Banashankari,Quick Bites,"South Indian, North Indian",300.0,Buffet,12.922256,77.557671,4
4,4.0,4.0,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166.0,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,Buffet,12.967705,77.569104,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41950,42939.0,51709.0,"136, SAP Labs India, KIADB Export Promotion In...",The Farm House Bar n Grill,No,No,3.7,34.0,Whitefield,"Casual Dining, Bar","North Indian, Continental",800.0,Pubs and bars,12.984103,77.728699,2
41951,42940.0,51711.0,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,No,No,2.5,81.0,Whitefield,"Casual Dining, Bar","Andhra, South Indian, Chinese, North Indian",800.0,Pubs and bars,12.985640,77.732719,2
41952,42941.0,51712.0,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27.0,Whitefield,Bar,Continental,1500.0,Pubs and bars,12.991653,77.720399,2
41953,42942.0,51715.0,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236.0,"ITPL Main Road, Whitefield",Bar,Finger Food,2500.0,Pubs and bars,12.987295,77.731742,2
41954,42943.0,51716.0,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13.0,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental",1500.0,Pubs and bars,12.988095,77.731779,2

In [13]:
df2 = pd.read_csv("final.csv")
df3 = pd.read_csv("score.csv")

In [14]:
df2.isna().sum()

Unnamed: 0            0
Unnamed: 0.1          0
Unnamed: 0.1.1        0
address               0
name                  0
online_order          0
book_table            0
rate                  0
votes                 0
location              0
rest_type             0
cuisines              0
cost_for_two          0
reviews_list          0
restaurant_type       0
latitude           4096
longitude          4096
polarity_score        0
score                 0
cluster             989
dtype: int64

In [15]:
df3.isna().sum()

Unnamed: 0            0
Unnamed: 0.1          0
address               0
name                  0
online_order          0
book_table            0
rate                  0
votes                 0
location              0
rest_type             0
cuisines              0
cost_for_two          0
reviews_list          0
restaurant_type       0
latitude           4096
longitude          4096
polarity_score        0
score                 0
dtype: int64