In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv("../data/score.csv",delimiter="^")

In [9]:
df1 = pd.read_csv("../data/coord_caret",delimiter="^")

In [6]:
df1

,Unnamed: 0,Unnamed: 0.1,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost_for_two,reviews_list,restaurant_type,latitude,longitude
0,0,0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,12.926226,77.564738
1,1,1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,12.914659,77.559005
2,2,2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,12.922256,77.557671
3,3,3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,12.922256,77.557671
4,4,4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,12.967705,77.569104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42939,42939,51709,"136, SAP Labs India, KIADB Export Promotion In...",The Farm House Bar n Grill,No,No,3.7,34,Whitefield,"Casual Dining, Bar","North Indian, Continental",800,"[('Rated 4.0', 'RATED\n Ambience- Big and spa...",Pubs and bars,12.984103,77.728699
42940,42940,51711,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,No,No,2.5,81,Whitefield,"Casual Dining, Bar","Andhra, South Indian, Chinese, North Indian",800,"[('Rated 4.0', 'RATED\n A fine place to chill...",Pubs and bars,12.985640,77.732719
42941,42941,51712,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,Continental,1500,"[('Rated 5.0', ""RATED\n Food and service are ...",Pubs and bars,12.991653,77.720399
42942,42942,51715,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,Finger Food,2500,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",Pubs and bars,12.987295,77.731742
42943,42943,51716,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental",1500,"[('Rated 5.0', 'RATED\n Great ambience , look...",Pubs and bars,12.988095,77.731779

In [7]:
df

         129                         Roll Over  0.3329329004329004
0        555                     Manifest Cafe            0.497431
1        688                  Puliyogare Point            0.252116
2        783                   Kalmane Koffees            0.160880
3        962                            Moksha            0.196481
4       1579                      Chef Baker's            0.149728
...      ...                               ...                 ...
42938  42121  Apoorva Multi Cuisine Restaurant            0.303117
42939  42140                              Jade            0.090693
42940  42358                     Mist n Creams            0.173628
42941  42515                   Kalmane Koffees            0.400000
42942  42547                     Biryani House            0.251854

[42943 rows x 3 columns]

In [7]:
df1

,Unnamed: 0,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost_for_two,reviews_list,restaurant_type,latitude,longitude
0,0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,12.926226,77.564738
1,1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,12.914659,77.559005
2,2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,12.922256,77.557671
3,3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,12.922256,77.557671
4,4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,12.967705,77.569104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42939,51709,"136, SAP Labs India, KIADB Export Promotion In...",The Farm House Bar n Grill,No,No,3.7,34,Whitefield,"Casual Dining, Bar","North Indian, Continental",800,"[('Rated 4.0', 'RATED\n Ambience- Big and spa...",Pubs and bars,12.984103,77.728699
42940,51711,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,No,No,2.5,81,Whitefield,"Casual Dining, Bar","Andhra, South Indian, Chinese, North Indian",800,"[('Rated 4.0', 'RATED\n A fine place to chill...",Pubs and bars,12.985640,77.732719
42941,51712,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,Continental,1500,"[('Rated 5.0', ""RATED\n Food and service are ...",Pubs and bars,12.991653,77.720399
42942,51715,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,Finger Food,2500,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",Pubs and bars,12.987295,77.731742
42943,51716,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental",1500,"[('Rated 5.0', 'RATED\n Great ambience , look...",Pubs and bars,12.988095,77.731779

In [10]:
df2 = pd.read_csv("../data/score-p.csv",delimiter="^")

In [11]:
df2

         129                         Roll Over  0.3329329004329004
0        555                     Manifest Cafe            0.497431
1        688                  Puliyogare Point            0.252116
2        783                   Kalmane Koffees            0.160880
3        962                            Moksha            0.196481
4       1579                      Chef Baker's            0.149728
...      ...                               ...                 ...
42938  42121  Apoorva Multi Cuisine Restaurant            0.303117
42939  42140                              Jade            0.090693
42940  42358                     Mist n Creams            0.173628
42941  42515                   Kalmane Koffees            0.400000
42942  42547                     Biryani House            0.251854

[42943 rows x 3 columns]